<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Online_Exam_WAR</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>driver</param-name>
    <param-value>com.mysql.jdbc.Driver</param-value>
  </context-param>
  <context-param>
    <param-name>url</param-name>
    <param-value>jdbc:mysql://localhost:3306/onlinetest</param-value>
  </context-param>
  <context-param>
    <param-name>usr</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>passwd</param-name>
    <param-value>root</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>StudentLoginServlet</display-name>
    <servlet-name>StudentLoginServlet</servlet-name>
    <servlet-class>login.StudentLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentLoginServlet</servlet-name>
    <url-pattern>/StudentLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddSubjectServlet</display-name>
    <servlet-name>AddSubjectServlet</servlet-name>
    <servlet-class>add_subject.AddSubjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSubjectServlet</servlet-name>
    <url-pattern>/AddSubjectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddQuestionServlet</display-name>
    <servlet-name>AddQuestionServlet</servlet-name>
    <servlet-class>add_quest.AddQuestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddQuestionServlet</servlet-name>
    <url-pattern>/AddQuestionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllExamHistoryServlet</display-name>
    <servlet-name>AllExamHistoryServlet</servlet-name>
    <servlet-class>allhistory.AllExamHistoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllExamHistoryServlet</servlet-name>
    <url-pattern>/AllExamHistoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminControlServlet</display-name>
    <servlet-name>AdminControlServlet</servlet-name>
    <servlet-class>login.AdminControlServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminControlServlet</servlet-name>
    <url-pattern>/AdminControlServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfirmServlet</display-name>
    <servlet-name>ConfirmServlet</servlet-name>
    <servlet-class>add_quest.ConfirmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmServlet</servlet-name>
    <url-pattern>/ConfirmServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuestConfirmServlet</display-name>
    <servlet-name>QuestConfirmServlet</servlet-name>
    <servlet-class>add_quest.QuestConfirmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestConfirmServlet</servlet-name>
    <url-pattern>/QuestConfirmServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfirmPageServlet</display-name>
    <servlet-name>ConfirmPageServlet</servlet-name>
    <servlet-class>add_quest.ConfirmPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmPageServlet</servlet-name>
    <url-pattern>/ConfirmPageServlet</url-pattern>
  </servlet-mapping>
</web-app>